# {{ role_name }}

DESCRIPTION

## Requirements
TODO

## Role Variables
TODO  
See `defaults/main.yml` for now.

## Dependencies
TODO

## Example Playbook
```yaml
- hosts: all
  roles:
    - { role: AUTHOR.{{ role_name }}, {{ role_name }}_enabled: yes }
```

## License
BSD 3-Clause

[//]: # ( vim: set ft=markdown sw=2 ts=2 noet : )
