# {{ role_name }}

...

## Requirements
`TODO`

## Role Variables
See `defaults/main.yml` for now.

## Dependencies
`TODO`

## Example Playbook
```yaml
- hosts: all
  roles:
    - { role: AUTHOR.{{ role_name }} }
```

## License
BSD 3-Clause

[//]: # ( vim: set ft=markdown sw=2 ts=2 noet : )
