---

{{ role_name }}_os_family_supported:
  - Debian  # Ubuntu
  - FreeBSD
  - OpenBSD
  - RedHat  # CentOS

{{ role_name }}_distribution_supported:
  - CentOS
  - Debian
  - FreeBSD
  - OpenBSD
  - RedHat
  - Ubuntu
